@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap'");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("fonts/booterfz.ttf");
    font-weight: normal;
    font-size: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: rgb(47, 46, 46);
}

html, body {
    margin: 0;
    padding: 0;
}

.main-header {
    background-image: url("images/cover image.webp");
    background-size: cover;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: multiply;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline
}

.nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: .5em;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-nav {
    font-size: 1.5em;
    font-weight: lighter;
    border-bottom: 1px solid rgb(146, 145, 145);
    text-align: center;
}

.main-nav li {
    padding: 0 5%;
}

.band-name {
    text-align: center;
    font-size: 4em;
    color: antiquewhite;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
}

.band-name-large {
    font-size: 7em;
    margin: 0;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.1em;
    margin-bottom: 95px;
}

.btn {
    padding: 1em 1.8em;
    font-size: 1em;
    border: 1px solid brown;
    background-color: rgba(255, 255, 255, .5);
    margin: .05em 15% .5em 5%;
}

.btn:hover {
    background-color: lightblue;
}

.btn-play {
    background-color: rgba(0,0,0,.5);
    color: brown;
}

.btn-ticket {
    margin-left: 10%;
}

.list-content span {
    border-bottom: 1px solid burlywood;
}
.list-content strong {
    border-bottom: 1px solid burlywood;
    padding: 5px;
    width: 11%;
}

.section-header {
    font-family: Metal Mania;
    font-weight: normal;
    text-align: center;
    font-size: 2.5em;
}

.about-page-image {
    float: left;
    height: 200px;
    width: 350px;
    margin: 10px;
    border-radius: 30%;
}

.main-footer {
    background-color: darkgrey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    margin-top: 100px;
}

.main-footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-footer-container li {
    padding: 20px;
}

.main-footer-container h1 {
    margin: 10px 20px;
}

.shop-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop-items-container img {
    height: 250px;
    border-radius: 10%;
}

.shop-item {
    margin: 3%;
}

.shop-item-header {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.shop-items-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.shop-item.price {
    flex-grow: 1;
}

.cart-header {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-right: 1.5em;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1em;
    font-weight: bold;
}

.cart-quantity {
    width: 35%;
}

.item-title {
    font-size: 1em;
    font-weight: bold;
    padding-left: 10px;
}

.btn-danger {
    color: white;
    background-color: lightcoral;
}

.btn-danger:hover {
    background-color: coral;
    border: 0;
}

.cart-quantity-input {
    width: 40px;
    height: 55px;
    text-align: center;
    font-size: 1em;
    border-radius: 10px;
}

.total {
    text-align: end;
}

.total-header {
    font-size: 2em;
    margin-right: 20px;
}

.total-price {
    font-size: 1.8em;
    margin-right: 10px;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
}